@charset "UTF-8";
/* line 2, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-container {
  max-width: 1260px;
  margin: 0 auto; }

/* Slider
============================*/
/* line 9, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-slider-wrap {
  padding-top: 82px;
  padding-bottom: 90px;
  background: #F3F3F3; }

/* line 14, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-title_ab {
  text-align: center;
  padding-bottom: 80px; }

/* line 18, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
#slider {
  padding: 10px;
  border-radius: 5px; }
  /* line 22, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .dd-img-box_ab {
    width: 109px;
    height: 109px;
    margin: 0 auto; }
  /* line 27, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .dd-item-wrap {
    max-width: 1056px;
    margin: 0 auto; }
  /* line 31, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .owl-dots {
    display: none;
    position: absolute;
    left: 47%;
    transform: translate(-50);
    bottom: -74px; }
    /* line 37, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
    #slider .owl-dots .owl-dot {
      display: inline-block;
      margin-left: 5px; }
      /* line 40, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
      #slider .owl-dots .owl-dot span {
        float: left;
        display: inline-block;
        border-radius: 10em;
        width: 9px;
        height: 9px;
        background-color: white;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }
    /* line 51, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
    #slider .owl-dots .active span {
      border-radius: 10em;
      width: 9px;
      height: 9px;
      background-color: #FF5CA3;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12); }
  /* line 60, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .item {
    overflow: hidden; }
  /* line 63, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .nav-left {
    background: url(../img/left1.png) no-repeat;
    width: 15px;
    height: 51px;
    position: absolute;
    top: 32%;
    left: 5px;
    transform: translate(-50); }
  /* line 72, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  #slider .nav-right {
    background: url(../img/right1.png) no-repeat;
    width: 15px;
    height: 51px;
    position: absolute;
    top: 32%;
    right: 5px;
    transform: translate(-50); }

/* line 83, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-txt_ab span {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  color: #22adc2;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 23px; }

/* line 91, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-txt_ab p {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  font-style: italic;
  color: #67635b;
  font-size: 16px; }

/* footer
============================*/
/* line 102, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-footer-wrap {
  padding: 25px 0px;
  background: #757066; }

/* line 107, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-timeofwork {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  color: #51d6ea;
  padding-top: 10px; }

/* line 113, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-button-1 {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  width: 161px;
  height: 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  background-color: #f35c9f;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08); }

/* line 128, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-foter-box {
  text-align: center;
  margin-bottom: 15px;
  display: none; }

/* line 133, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-footer-button {
  padding: 15px 0px; }

/* line 137, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-foter-box_1 span {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white; }

/* line 145, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-foter-box_2 span {
  color: white;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 18px;
  font-weight: 300; }

/* line 152, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-top {
  padding-top: 27px; }

/* line 156, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-footer-phone span {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  display: inline-block; }

/* line 163, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-footer-phone span:first-child {
  background: url(../img/dd-p.png) no-repeat left center;
  padding-left: 25px; }

/* line 167, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-footer-phone span:last-child {
  font-size: 14px;
  background: url(../img/dd-p2.png) no-repeat left center;
  padding-left: 25px; }

/* line 173, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-mobile {
  text-align: center; }
  /* line 175, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-mobile span {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans", arial, sans-serif; }

/* Бонусом вы получите
==========================*/
/* line 185, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-wrap_bonus {
  padding-top: 44px;
  padding-bottom: 50px;
  background: #F3F3F3; }

/* line 190, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-box_bonus {
  max-width: 350px;
  margin: 37px auto; }

/* line 194, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-img_bonus {
  width: 80px;
  float: left;
  text-align: center; }

/* line 199, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-txt_bonus {
  float: left;
  text-align: left;
  width: 194px; }
  /* line 203, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_bonus p {
    font-weight: 500;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 16px;
    color: #67635b; }

/* line 210, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-dekstop_h2_bonus {
  display: none;
  padding-bottom: 74px; }

/* шапка
===============================*/
/* line 217, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-head-wrap {
  background: url(../img/mb.jpg) no-repeat top center;
  padding-top: 35px; }

/* line 223, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-main_h {
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 44px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.22); }

/* line 230, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-txt_h {
  text-align: center;
  padding-bottom: 30px; }
  /* line 233, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_h span {
    display: block;
    color: #fff;
    font-weight: 500;
    font-family: "Open Sans", arial, sans-serif; }
  /* line 239, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_h span:first-child {
    font-size: 24px; }
  /* line 242, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_h span:nth-child(2) {
    font-size: 54px; }
  /* line 245, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_h span:nth-child(3) {
    font-size: 24px; }

/* line 250, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.dd-main_h span {
  font-family: "Open Sans", arial, sans-serif;
  font-weight: 300; }

/* line 257, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.az-select {
  border: 2px solid #cbd1d6;
  position: relative;
  cursor: pointer; }

/* line 262, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
select {
  height: 36px;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 15px;
  letter-spacing: 0.02em;
  font-family: "OpenSans-Semibold";
  font-size: 14px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* line 276, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
select::-ms-expand {
  display: none; }

/* line 279, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.az-options {
  display: none;
  top: calc(100% + 2px);
  left: -2px;
  width: calc(100% + 4px);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  z-index: 6; }

/* line 291, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
div[data-val] {
  font-size: 14px;
  font-family: "OpenSans-Semibold";
  color: #fff;
  padding: 0 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer; }

/* line 300, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
div[data-val]:hover {
  background: rgba(255, 255, 255, 0.1); }

/* line 304, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.az-select:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  width: 13px;
  height: 8px;
  background: url(../img/select-arrow.png) no-repeat top left;
  z-index: 1; }

/* line 315, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.az-select-focus:before {
  background: url(../img/select-arrow-focus.png) no-repeat top left; }

/* line 318, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
.az-select_style {
  position: relative;
  z-index: 2; }

@media only screen and (min-width: 320px) {
  /* line 324, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_bonus {
    width: 269px;
    padding-left: 20px; } }

@media only screen and (min-width: 992px) {
  /* line 336, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-box_bonus {
    width: 20%;
    margin: 0 auto;
    float: left; }
  /* line 341, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-mob_h2_bonus {
    display: none; }
  /* line 344, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-dekstop_h2_bonus {
    display: block; }
  /* line 347, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-img_bonus {
    float: unset;
    height: 126px;
    width: unset; }
  /* line 352, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_bonus {
    float: unset;
    width: 98%;
    text-align: center; }
  /* line 357, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-footer-wrap {
    padding: 44px 0px; }
  /* line 360, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box {
    display: block; }
  /* line 363, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-mobile {
    display: none; }
  /* line 367, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-slider-wrap {
    padding-bottom: 158px; }
  /* line 370, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-inline-bl {
    float: left; }
  /* line 373, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_ab {
    max-width: 824px;
    padding-left: 47px;
    margin-top: -4px; }
  /* line 379, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box_1, .dd-foter-box_2 {
    float: left; }
  /* line 382, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box_1 {
    width: 228px;
    text-align: left; }
    /* line 385, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
    .dd-foter-box_1 span {
      display: block; }
  /* line 389, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box_2 {
    width: 438px; }
  /* line 393, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box_3 {
    float: right;
    text-align: right; } }

@media only screen and (min-width: 1248px) {
  /* line 400, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-foter-box_2 {
    width: 628px; }
  /* line 403, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-txt_ab {
    max-width: 946px; }
  /* line 406, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-float-left {
    float: left; }
  /* line 409, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-footer-phone {
    padding-right: 50px; }
  /* line 412, C:/OpenServer/domains/iphone.local/css/style-dd.scss */
  .dd-footer-button {
    padding-top: 5px; } }

/*# sourceMappingURL=style-dd.css.map */