.payment {
    padding-top: 45px;
    padding-bottom: 45px;
    background: #fff;
}
.payment-title {
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 35px;
}
.payment-img {
    max-width: 100%;
}
.payment-item {
    height: 70px;
    margin-bottom: 20px;
}
.payment-item-visa {
    background: url(/img/visa.png) 50% 50% no-repeat;
}
.payment-item-mc {
    background: url(/img/master-card.png)  50% 50% no-repeat;
}
.payment-item-yndx {
    background: url(/img/yandex-money.png) 50% 50% no-repeat;
}
.payment-item-wbm {
    background: url(/img/webmoney.png) 50% 50% no-repeat;
}
.payment-item-qw {
    background: url(/img/qiwi.png) 50% 50% no-repeat;
}
.payment-item-cash {
    background: url(/img/cash.png) 50% 50% no-repeat;
}

.our {
    padding-top: 40px;
    padding-bottom: 45px;
    background: url(/img/our-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 35% center;
}
.our-title {
    font-size: 38px;
    margin-bottom: 40px;
}
.our-item {
    position: relative;
    margin-bottom: 40px;
}
.our-item__text {
    margin-left: 50px;
    width: 90%;
}
.our-item__imgwrap {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
}
.our-item__header {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 5px;
}
.our-item__descr {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.our-item__span {
    font-family: "Open Sans", "Arial", sans-serif;
    color: #ffc0dc;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
}
.delivery {
    margin-top: -50px;
    margin-bottom: 0;
}

.leave {
    padding-bottom: 50px;
}
.leave-form-block {
    background: #22adc2;
    padding: 30px 30px 40px 30px;
}
.leave-title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 25px;
}
.leave-subtitle {
    color: white;
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    margin-bottom: 30px;
}
.leave-span {
    font-size: 30px;
}
.leave-input {
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    outline: 0;
    width: 100%;
    max-width: 380px;
    margin: auto;
    display: block;
    height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #67635b;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: italic;
    line-height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    &.phone {
        margin-bottom: 40px;
    }
    &::-webkit-input-placeholder {
        color: #67635b;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
    }
    &::-moz-placeholder {
        color: #67635b;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
    }/* Firefox 19+ */
    &:-moz-placeholder {
        color: #67635b;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
    }/* Firefox 18- */
    &:-ms-input-placeholder {
        color: #67635b;
        font-family: "Open Sans";
        font-size: 18px;
        font-style: italic;
        line-height: 30px;
    }
    &:first-child {
        margin-bottom: 20px;
    }
}
.leave-submit {
    background-color: #f35c9f;
    border-radius: 3px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 0; 
    outline: 0;
    width: 100%;
    max-width: 260px;
    margin: auto;
    display: block;
    margin-bottom: 40px;
}
.leave-managers {
    color: white;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.leave-payment {
    img {
        max-width: 100%;
        height: 100%;
        display: block;
        margin: auto;
    }
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
    .leave-form-block {
        height: 620px;
    }
}

@media only screen and (min-width : 992px) {
    .our {
        padding-top: 80px;
        padding-bottom: 80px;
        background: url(/img/our-bg.jpg) 0 0 no-repeat;
        background-size: cover;
        background-position: 55% 0px;
    }
    .our-title {
        font-size: 44px;
        margin-bottom: 60px;
    }
    .our-item {
        margin-bottom: 70px;
    }
    .consultant, .available {
        margin-bottom: 0;
    }
    .our-item__header {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .our-item__descr {
        font-size: 18px;
    }
    .leave {
        background: url(/img/leave-bg.png) 0 0 no-repeat;
        background-size: cover;
        height: 800px;
    }
    .leave-form-block {
        background: transparent;
    }
    .leave-title {
        color: #67635b !important;
        font-size: 44px;
        font-weight: 300;
        line-height: 30px;
    }
    .leave-subtitle {
        color: #67635b;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
    }
    .leave-form-block {
        padding: 0;
        height: 100%;
    }
}

@media only screen and (min-width : 1248px) {
    .our-container {
      width: 100%;
        max-width: 1248px;
    }
}

