
.dd-container{
	max-width: 1260px;
	margin: 0 auto;
}

/* Slider
============================*/
.dd-slider-wrap{
	padding-top: 82px;
	padding-bottom: 90px;
	background:#F3F3F3;
}
.dd-title_ab{
	text-align: center;
	padding-bottom: 80px;
}
#slider{
	// background:#fff;
	padding: 10px;
	border-radius:5px;
	.dd-img-box_ab{
		width: 109px;
		height: 109px;
		margin: 0 auto;
	}
	.dd-item-wrap{
		max-width: 1056px;
		margin: 0 auto;
	}
	.owl-dots{
		display: none;
		position: absolute;
		left:47%;
		transform: translate(-50);
		bottom:-74px;
		.owl-dot{
			display: inline-block;
			margin-left: 5px;
			span{
				float: left;
				display: inline-block;
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: white;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
		.active{
			span{
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: #FF5CA3;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
	}
	.item{
		overflow:hidden;
	}
	.nav-left{
		background: url(../img/left1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		left:5px;
		transform: translate(-50);
	}
	.nav-right{
		background: url(../img/right1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		right:5px;
		transform: translate(-50);
	}
}
.dd-txt_ab{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		color: #22adc2;
		font-size: 18px;
		display: inline-block;
		padding-bottom: 23px;
	}
	p{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		font-style: italic;
		color: #67635b;
		font-size: 16px;
	}
}

/* footer
============================*/
.dd-footer-wrap{
	padding: 25px 0px;
	// padding: 44px 0px;
	background:#757066;
}
.dd-timeofwork{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	color: #51d6ea;
	padding-top: 10px;
}
.dd-button-1{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	width: 161px;
	height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	background-color: #f35c9f;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
}
.dd-foter-box{
	text-align: center;
	margin-bottom: 15px;
	display: none;
}
.dd-footer-button{
	padding: 15px 0px;
}
.dd-foter-box_1{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: white;
	}
}
.dd-foter-box_2{
	span{
		color: white;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
}
.dd-top{
	padding-top: 27px;
}
.dd-footer-phone{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		color:#fff;
		display: inline-block;
	}
	span:first-child{
		background:url(../img/dd-p.png) no-repeat left center;
		padding-left: 25px;
	}
	span:last-child{
		font-size: 14px;
		background:url(../img/dd-p2.png) no-repeat left center;
		padding-left: 25px;
	}
}
.dd-mobile{
	text-align: center;
	span{
		color:#fff;
		font-size: 14px;
		font-weight: 400;
		font-family: "Open Sans", arial, sans-serif;
	}
}

/* Бонусом вы получите
==========================*/
.dd-wrap_bonus{
	padding-top: 44px;
	padding-bottom: 50px;
	background:#fff;
}
.dd-box_bonus{
	max-width: 350px;
	margin: 37px auto;
}
.dd-img_bonus{
	width: 80px;
	float: left;
	text-align: center;
}
.dd-txt_bonus{
	float: left;
	text-align: left;
	width: 194px;
	p{
		font-weight: 500;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 16px;
		color: #67635b;
	}
}
.dd-dekstop_h2_bonus{
	display: none;
	padding-bottom: 74px;
}

/* шапка
===============================*/
.dd-head-wrap{
	background:url(../img/mb.jpg) no-repeat top center;
	padding-top: 35px;
	background-size:cover;
	// padding-top: 84px;
	// padding-bottom: 160px;
}
.dd-main_h{
	width: 285px;
	padding: 30px 12px 115px;
	margin: 0 auto;
	background:rgba(#000, 0.22);
	text-align: center;
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 300;
		color:#fff;
		display: block;
	}
	.dd-sp1_h{
		font-size: 34px;
		padding-bottom: 18px;
	}
	.dd-sp2_h{
		font-size: 22px;
		padding-bottom: 28px;
	}
}
.dd-form-box_h{
	.dd-input{
		width: 100%;
		outline: none;
		height: 39px;
		background:#fff;
		border:none;
		border-radius: 3px;
		padding-left: 17px;
		margin-bottom: 18px;
		font-weight: 300;
		font-family: "Open Sans", arial, sans-serif;
		font-style: italic;
		font-size: 18px;
	}
}
.dd-txt_h_big{
	display: none;
}
.dd-txt_h{
	text-align: center;
	padding-bottom: 30px;
	span{
		display: block;
		color:#fff;
		font-weight: 500;
		font-family: "Open Sans", arial, sans-serif;
	}
	span:first-child{
		font-size:24px;
	}
	span:nth-child(2){
		font-size: 54px;
	}
	span:nth-child(3){
		font-size: 24px;
	}
}
.dd-w100{
	width: 100%;
	margin-top: 26px;
	border:none;
	outline: none;
}
//select
.az-select{
	// border: 2px solid #cbd1d6;
	position: relative;
	cursor: pointer;
}
select{
	height: 39px;
	width: 100%;
	border: none !important;
	background: transparent;
	outline: none !important;
	padding: 0 15px;
	letter-spacing: 0.02em;
	font-weight: 300;
	font-family: "Open Sans", arial, sans-serif;
	font-style: italic;
	font-size: 18px;
	cursor: pointer;
	background:#fff;
	color:#929292;
	border-radius: 3px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select::-ms-expand {
	display: none;
}
.az-options{
	display: none;
	top: calc(100% + 2px);
	left: -2px;
	width: calc(100% + 4px);
	position: absolute;
	background: rgba(255,255,255,1);
	border-radius: 3px;
	z-index: 6;
}

div[data-val]{
	text-align: left;
	font-weight: 300;
	font-family: "Open Sans", arial, sans-serif;
	font-style: italic;
	font-size: 18px;
	padding: 0 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	cursor: pointer;
}
div[data-val]:hover{
	background: rgba(255,255,255,0.1);
}

.az-select:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 15px;
	width: 15px;
	height: 8px;
	background: url(../img/select-arrow.png) no-repeat top left;
	z-index: 1;
}
// .az-select-focus:before{
// 	background: url(../img/select-arrow-focus.png) no-repeat top left;
// }
.az-select_style{
	position: relative;
	z-index: 2;
}

//Timer
.dd-timer{
	width: 285px;
	.dd-timer-title{
		font-weight: 300;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 20px;
		color:#fff;
		line-height: 15px;
		padding-bottom: 15px;
		padding-top: 33px;
	}
	.dd-times{
		// border:2px solid red;
		position: relative;
		.dd-tochki{
			position: absolute;
			left: 81px;
			top:25px;
		}
		.dd-div{
			background: url(../img/ddt.png) no-repeat top center;
			float: left;
			margin-left: 16px;
			height: 60px;
			width: 76px;
			position:relative;
			margin-top: 5px;
			span{
				color:#fff;
				font-size: 35px;
				font-weight: 500;
				line-height: 15px;
				text-shadow: 0 1px 0 black;
				font-weight: 300;
				font-family: "Open Sans", arial, sans-serif;
				font-size: 49px;
				letter-spacing: 12px;
				padding-left: 5px;
				line-height: 55px;
			}
		}
		.dd-first-div{
			margin-left: 0;
		}
		.dd-time-txt{
			width: 51px;
			float: left;
			padding-left:21px;
			padding-top: 5px;
			span{
				font-weight: 500;
				font-family: "Open Sans", arial, sans-serif;
				font-size: 14px;
				line-height: 15px;
				color: #fff;
			}
		}
		.dd-time-txt2{
			padding-left:61px;
		}
		.dd-time-txt3{
			padding-left:87px;
		}
	}
}
.dd-strelka{
	display: none;
}

@media only screen and (min-width : 320px) {
	.dd-txt_bonus{
		width: 269px;
		padding-left: 20px;
	}
}
@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dd-strelka{
		display: block;
		position: absolute;
		bottom: -84px;
		right: -159px;
	}
	.dd-relative{
		position: relative;
	}
	.dd-txt_h{
		display: none;
	}
	.dd-txt_h_big{
		display: block;
		text-align: left;
		padding-left: 124px;
		span{
			display: inline-block;
			font-weight: 300;
			font-family: "Open Sans", arial, sans-serif;
		}
		span:first-child{
			font-size: 56px;
			span{
				margin-left: 22px;
				font-size: 65px;
				letter-spacing: 6px;
			}
		}
		span:last-child{
			font-size: 48px;
		}
	}
	.dd-head-wrap{
		background:url(../img/big3.jpg) no-repeat top center;
		background-size:cover;
		padding-top: 84px;
		padding-bottom: 160px;
		height: 847px;
	}
	.dd-w100{
		margin-top: 20px;
	}
	.dd-main_h{
		position: absolute;
		left:18px;
		top:288px;
		background:none;
		width: 622px;
		text-align: left;
		padding: 0;
		.dd-sp1_h{
			font-size: 40px;
			letter-spacing: 2px;
			padding-bottom: 0;
		}
		.dd-sp2_h{
			font-size: 28px;
			letter-spacing: 2px;
			padding-bottom: 43px;
		}
	}
	.dd-timer{
		position: absolute;
		// right: -429px;
		right: -353px;
		bottom:11px;
	}
	.dd-form-box_h{
		width: 277px;
		float: left;
		margin-right: 22px;
	}
	/////////////////////////////

	.dd-box_bonus{
		width: 20%;
		margin: 0 auto;
		float: left;
	}
	.dd-mob_h2_bonus{
		display: none;
	}
	.dd-dekstop_h2_bonus{
		display: block;
	}
	.dd-img_bonus{
		float: unset;
		height: 126px;
		width: unset;
	}
	.dd-txt_bonus{
		float: unset;
		width: 98%;
		text-align: center;
	}
	.dd-footer-wrap{
		padding: 44px 0px;
	}
	.dd-foter-box {
		display: block;
	}
	.dd-mobile{
		display: none;
	}

	.dd-slider-wrap{
		padding-bottom: 158px;
		margin-bottom: 65px;
	}
	.dd-inline-bl{
		float: left;
	}
	.dd-txt_ab{
		max-width: 824px;
		padding-left: 47px;
		margin-top: -4px;
		// padding-top: 18px;
	}
	.dd-foter-box_1, .dd-foter-box_2{
		float: left;
	}
	.dd-foter-box_1{
		width: 228px;
		text-align: left;
		span{
			display: block;
		}
	}
	.dd-foter-box_2{
		width: 438px;
		// width: 628px;
	}
	.dd-foter-box_3{
		float: right;
		text-align: right;
	}
}

@media only screen and (min-width : 1248px) {
	.dd-main_h{
		left:122px;
	}
	.dd-timer{
		right: -429px;
	}
	.dd-foter-box_2{
		width: 628px;
	}
	.dd-txt_ab{
		max-width: 946px;
	}
	.dd-float-left{
		float: left;
	}
	.dd-footer-phone{
		padding-right: 50px;
	}
	.dd-footer-button{
		padding-top: 5px;
	}
}

