.head-top{
	font-family: "Open Sans", arial, sans-serif;
}
.menu-burger{
	display: none;
}
.menu-g{
	background: #22adc2;
	.menu{
		background: #22adc2;
		&__li{
			float: left;
			width: 12.5%;
			text-align: center;
			a{
				display: block;
				background: #22adc2;
				padding: 17px 0;
				color: #fff;
				font-size: 20px;
				font-weight: 300;
				&:hover{
					color: #1e9bae;
					background: #f3f3f3;
				}
			}
		}
	}
}
.bg { 
	position: absolute; 
	background: #22adc2; 
	width: 27px; 
	height: 21px; 
	top: 5px; 
	left: 0; 
	display: block;
	transition: 0.6s all ease;
	outline: none;
}
.bg::before { 
	content: ""; 
	position: absolute; 
	width: 27px; 
	height: 6px; 
	top: 3px; 
	left: 0;
	background: #fff; 
	display: block; 
}
.bg::after { 
	content: ""; 
	position: absolute; 
	width: 27px; 
	height: 6px; 
	left: 0; 
	background: #fff; 
	display: block; 
	top: 12px; 
}
.bg-close{
	position: absolute;
	top: -80px;
	transition: 0.4s all ease;
	left: 0;
	width: 100%;
	background: #20a3b7 url(../img/bg-close-ic.png) 15px center no-repeat;
	line-height: 75px;
	padding-left: 60px;
	font-size: 20px;
	color: #fff;
}
.menu-button{
	position: relative;
}
.menu-button.active{
	.bg{
		top: -80px;
	}
	.bg-close{
		top: 0;
	}
}
.logo{
	float: left;
	a{
		display: block;
		background: url(../img/logo.png);
		width: 141px;
		height: 35px;
	}
}
.menu-burger{
	width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
	.menu{
		&__list{
			padding: 100px 0 30px;
			background: #22adc2;
		}
		&__li a{
			background: #22adc2;
			color: #fff;
			font-size: 20px;
			padding: 0 0 0 48px;
			line-height: 48px;
			display: block;
			&:hover{
				font-weight: 600;
				background: #20a3b7;
			}
		}
	}

}
.map{
	font-family: "Open Sans", arial, sans-serif;
	margin-top: 75px;
	height: 640px;
	overflow: hidden;
	position: relative;
}
.map-contact{
	width: 460px;
	text-align: center;
	color: #fff;
	height: 640px;
	background: #22adc2;
	position: absolute;
	top: 0;
	.title-block{
		background: #20a3b7;
		padding: 30px 0 35px;
	}
	.call{
		font-weight: 300;
		display: block;
		font-size: 30px;
		padding-bottom: 3px;
	}
	.phone{
		display: inline-block;
		font-size: 32px;
		padding-left: 33px;
		background: url(../img/phone-ic.png) 0 12px no-repeat;
	}
	.inner{
		padding: 31px 0;
		background: #22adc2;
	}
	.title{
		font-size: 30px;
		font-weight: 300;
	}
	p{
		font-weight: 300;
		font-size: 20px;
		padding-bottom: 40px;
	}
	.input-wrap{
		padding-bottom: 37px;
	}
	.input-wrap-btn{
		margin-top: 10px;
	}
	.descr{
		font-size: 14px;
		display: block;
	}
}
@media only screen and (max-width : 1000px) {
	.menu-g .menu__li a{
		font-size: 14px;
	}
}
@media only screen and (max-width : 690px) {
	.menu-g{
		display: none;
	}
	.menu-burger{
		display: block;
	}
}
@media only screen and (max-width : 630px) {
	.map-contact{
		width: 380px;
	}
}
@media only screen and (max-width : 510px) {
	.mape-block{
		display: none;
	}
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
}

@media only screen and (min-width : 1248px) {
}

