/* line 1, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.head-top {
  font-family: "Open Sans", arial, sans-serif; }

/* line 4, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-burger {
  display: none; }

/* line 7, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-g {
  background: #22adc2; }
  /* line 9, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g .menu {
    background: #22adc2; }
    /* line 11, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .menu-g .menu__li {
      float: left;
      width: 12.5%;
      text-align: center; }
      /* line 15, C:/OpenServer/domains/iphone.local/css/style-de.scss */
      .menu-g .menu__li a {
        display: block;
        background: #22adc2;
        padding: 17px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 300; }
        /* line 22, C:/OpenServer/domains/iphone.local/css/style-de.scss */
        .menu-g .menu__li a:hover {
          color: #1e9bae;
          background: #f3f3f3; }

/* line 30, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg {
  position: absolute;
  background: #22adc2;
  width: 27px;
  height: 21px;
  top: 5px;
  left: 0;
  display: block;
  transition: 0.6s all ease;
  outline: none; }

/* line 41, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 3px;
  left: 0;
  background: #fff;
  display: block; }

/* line 51, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  left: 0;
  background: #fff;
  display: block;
  top: 12px; }

/* line 61, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg-close {
  position: absolute;
  top: -80px;
  transition: 0.4s all ease;
  left: 0;
  width: 100%;
  background: #20a3b7 url(../img/bg-close-ic.png) 15px center no-repeat;
  line-height: 75px;
  padding-left: 60px;
  font-size: 20px;
  color: #fff; }

/* line 73, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button {
  position: relative; }

/* line 77, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button.active .bg {
  top: -80px; }

/* line 80, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button.active .bg-close {
  top: 0; }

/* line 84, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.logo {
  float: left; }
  /* line 86, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .logo a {
    display: block;
    background: url(../img/logo.png);
    width: 141px;
    height: 35px; }

/* line 93, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-burger {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  /* line 100, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger .menu__list {
    padding: 100px 0 30px;
    background: #22adc2; }
  /* line 104, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger .menu__li a {
    background: #22adc2;
    color: #fff;
    font-size: 20px;
    padding: 0 0 0 48px;
    line-height: 48px;
    display: block; }
    /* line 111, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .menu-burger .menu__li a:hover {
      font-weight: 600;
      background: #20a3b7; }

/* line 119, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.map {
  font-family: "Open Sans", arial, sans-serif;
  margin-top: 75px;
  height: 640px;
  overflow: hidden;
  position: relative; }

/* line 126, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.map-contact {
  width: 460px;
  text-align: center;
  color: #fff;
  height: 640px;
  background: #22adc2;
  position: absolute;
  top: 0; }
  /* line 134, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .title-block {
    background: #20a3b7;
    padding: 30px 0 35px; }
  /* line 138, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .call {
    font-weight: 300;
    display: block;
    font-size: 30px;
    padding-bottom: 3px; }
  /* line 144, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .phone {
    display: inline-block;
    font-size: 32px;
    padding-left: 33px;
    background: url(../img/phone-ic.png) 0 12px no-repeat; }
  /* line 150, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .inner {
    padding: 31px 0;
    background: #22adc2; }
  /* line 154, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .title {
    font-size: 30px;
    font-weight: 300; }
  /* line 158, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact p {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 40px; }
  /* line 163, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .input-wrap {
    padding-bottom: 37px; }
  /* line 166, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .input-wrap-btn {
    margin-top: 10px; }
  /* line 169, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .descr {
    font-size: 14px;
    display: block; }

@media only screen and (max-width: 1000px) {
  /* line 175, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g .menu__li a {
    font-size: 14px; } }

@media only screen and (max-width: 690px) {
  /* line 180, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g {
    display: none; }
  /* line 183, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger {
    display: block; } }

@media only screen and (max-width: 630px) {
  /* line 188, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact {
    width: 380px; } }

@media only screen and (max-width: 510px) {
  /* line 193, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .mape-block {
    display: none; } }

/*# sourceMappingURL=style-de.css.map */