
.dd-container{
	max-width: 1260px;
	margin: 0 auto;
}

/* Slider
============================*/
.dd-slider-wrap{
	padding-top: 82px;
	padding-bottom: 90px;
	background:#F3F3F3;
}
.dd-title_ab{
	text-align: center;
	padding-bottom: 80px;
}
#slider{
	// background:#fff;
	padding: 10px;
	border-radius:5px;
	.dd-img-box_ab{
		width: 109px;
		height: 109px;
		margin: 0 auto;
	}
	.dd-item-wrap{
		max-width: 1056px;
		margin: 0 auto;
	}
	.owl-dots{
		display: none;
		position: absolute;
		left:47%;
		transform: translate(-50);
		bottom:-74px;
		.owl-dot{
			display: inline-block;
			margin-left: 5px;
			span{
				float: left;
				display: inline-block;
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: white;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
		.active{
			span{
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: #FF5CA3;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
	}
	.item{
		overflow:hidden;
	}
	.nav-left{
		background: url(../img/left1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		left:5px;
		transform: translate(-50);
	}
	.nav-right{
		background: url(../img/right1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		right:5px;
		transform: translate(-50);
	}
}
.dd-txt_ab{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		color: #22adc2;
		font-size: 18px;
		display: inline-block;
		padding-bottom: 23px;
	}
	p{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		font-style: italic;
		color: #67635b;
		font-size: 16px;
	}
}

/* footer
============================*/
.dd-footer-wrap{
	padding: 25px 0px;
	// padding: 44px 0px;
	background:#757066;
}
.dd-timeofwork{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	color: #51d6ea;
	padding-top: 10px;
}
.dd-button-1{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	width: 161px;
	height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	background-color: #f35c9f;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
}
.dd-foter-box{
	text-align: center;
	margin-bottom: 15px;
	display: none;
}
.dd-footer-button{
	padding: 15px 0px;
}
.dd-foter-box_1{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: white;
	}
}
.dd-foter-box_2{
	span{
		color: white;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
}
.dd-top{
	padding-top: 27px;
}
.dd-footer-phone{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		color:#fff;
		display: inline-block;
	}
	span:first-child{
		background:url(../img/dd-p.png) no-repeat left center;
		padding-left: 25px;
	}
	span:last-child{
		font-size: 14px;
		background:url(../img/dd-p2.png) no-repeat left center;
		padding-left: 25px;
	}
}
.dd-mobile{
	text-align: center;
	span{
		color:#fff;
		font-size: 14px;
		font-weight: 400;
		font-family: "Open Sans", arial, sans-serif;
	}
}

/* Бонусом вы получите
==========================*/
.dd-wrap_bonus{
	padding-top: 44px;
	padding-bottom: 50px;
	background:#F3F3F3;
}
.dd-box_bonus{
	max-width: 350px;
	margin: 37px auto;
}
.dd-img_bonus{
	width: 80px;
	float: left;
	text-align: center;
}
.dd-txt_bonus{
	float: left;
	text-align: left;
	width: 194px;
	p{
		font-weight: 500;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 16px;
		color: #67635b;
	}
}
.dd-dekstop_h2_bonus{
	display: none;
	padding-bottom: 74px;
}
@media only screen and (min-width : 320px) {
	.dd-txt_bonus{
		width: 269px;
		padding-left: 20px;
	}
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dd-box_bonus{
		width: 20%;
		margin: 0 auto;
		float: left;
	}
	.dd-mob_h2_bonus{
		display: none;
	}
	.dd-dekstop_h2_bonus{
		display: block;
	}
	.dd-img_bonus{
		float: unset;
		height: 126px;
		width: unset;
	}
	.dd-txt_bonus{
		float: unset;
		width: 98%;
		text-align: center;
	}
		.dd-footer-wrap{
			padding: 44px 0px;
		}
		.dd-foter-box {
			display: block;
		}
		.dd-mobile{
			display: none;
		}

		.dd-slider-wrap{
			padding-bottom: 158px;
		}
		.dd-inline-bl{
			float: left;
		}
		.dd-txt_ab{
			max-width: 824px;
			padding-left: 47px;
			margin-top: -4px;
		// padding-top: 18px;
	}
	.dd-foter-box_1, .dd-foter-box_2{
		float: left;
	}
	.dd-foter-box_1{
		width: 228px;
		text-align: left;
		span{
			display: block;
		}
	}
	.dd-foter-box_2{
		width: 438px;
		// width: 628px;
	}
	.dd-foter-box_3{
		float: right;
		text-align: right;
	}
}

@media only screen and (min-width : 1248px) {
	.dd-foter-box_2{
		width: 628px;
	}
	.dd-txt_ab{
		max-width: 946px;
	}
	.dd-float-left{
		float: left;
	}
	.dd-footer-phone{
		padding-right: 50px;
	}
	.dd-footer-button{
		padding-top: 5px;
	}
}

