/* line 1, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.head-top {
  font-family: "Open Sans", arial, sans-serif; }

/* line 4, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.top-line {
  padding: 20px 0; }

/* line 7, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.right {
  float: right; }

/* line 10, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.main-nav {
  float: left;
  padding-top: 3px; }
  /* line 13, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .main-nav li {
    display: inline-block; }
    /* line 15, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .main-nav li a {
      padding: 4px 13px;
      color: #67635b;
      font-size: 14px;
      display: block; }

/* line 24, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.head-top .phone {
  float: left;
  color: #67635b;
  text-align: right;
  padding: 0 38px 0 35px; }
  /* line 29, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .head-top .phone .big {
    font-size: 20px;
    display: inline-block;
    padding-left: 20px;
    background: url(../img/phone-big.png) left center no-repeat; }
  /* line 35, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .head-top .phone .sm {
    background: url(../img/phone-min.png) left center no-repeat;
    font-size: 14px;
    display: inline-block;
    padding-left: 20px; }

/* line 43, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.btn-wrap {
  float: left;
  padding-top: 2px; }

/* line 47, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-burger {
  display: none; }

/* line 50, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-g {
  background: #22adc2; }
  /* line 52, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g .menu {
    background: #22adc2; }
    /* line 54, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .menu-g .menu__li {
      float: left;
      width: 12.5%;
      text-align: center; }
      /* line 58, C:/OpenServer/domains/iphone.local/css/style-de.scss */
      .menu-g .menu__li a {
        display: block;
        background: #22adc2;
        padding: 17px 0;
        color: #fff;
        font-size: 20px;
        font-weight: 300; }
        /* line 65, C:/OpenServer/domains/iphone.local/css/style-de.scss */
        .menu-g .menu__li a:hover {
          color: #1e9bae;
          background: #f3f3f3; }

/* line 73, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.phone-btn {
  border: none;
  background: url(../img/phone-btn.png);
  width: 26px;
  height: 28px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none; }

/* line 83, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg {
  position: absolute;
  background: #22adc2;
  width: 27px;
  height: 21px;
  top: 25px;
  left: 20px;
  display: block;
  transition: 0.6s all ease;
  outline: none; }

/* line 94, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  top: 3px;
  left: 0;
  background: #fff;
  display: block; }

/* line 104, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 6px;
  left: 0;
  background: #fff;
  display: block;
  top: 12px; }

/* line 114, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.bg-close {
  position: absolute;
  top: -80px;
  transition: 0.4s all ease;
  left: 0;
  width: 100%;
  background: #20a3b7 url(../img/bg-close-ic.png) 15px center no-repeat;
  line-height: 75px;
  padding-left: 60px;
  font-size: 20px;
  color: #fff; }

/* line 126, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button {
  position: relative; }

/* line 130, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button.active .bg {
  top: -80px; }

/* line 133, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-button.active .bg-close {
  top: 0; }

/* line 137, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.logo {
  float: left; }
  /* line 139, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .logo a {
    display: block;
    background: url(../img/logo.png);
    width: 141px;
    height: 35px; }

/* line 146, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.menu-burger {
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000; }
  /* line 153, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger .menu__list {
    padding: 100px 0 30px;
    background: #22adc2; }
  /* line 157, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger .menu__li a {
    background: #22adc2;
    color: #fff;
    font-size: 20px;
    padding: 0 0 0 48px;
    line-height: 48px;
    display: block; }
    /* line 164, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .menu-burger .menu__li a:hover {
      font-weight: 600;
      background: #20a3b7; }

/* line 172, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.map {
  font-family: "Open Sans", arial, sans-serif;
  margin-top: 75px;
  height: 640px;
  overflow: hidden;
  position: relative; }

/* line 179, C:/OpenServer/domains/iphone.local/css/style-de.scss */
.map-contact {
  width: 460px;
  text-align: center;
  color: #fff;
  height: 640px;
  background: #22adc2;
  position: absolute;
  top: 0; }
  /* line 187, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .title-block {
    background: #20a3b7;
    padding: 30px 0 35px; }
  /* line 191, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .call {
    font-weight: 300;
    display: block;
    font-size: 30px;
    padding-bottom: 3px; }
  /* line 197, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .phone {
    display: inline-block;
    font-size: 32px;
    padding-left: 33px;
    background: url(../img/phone-ic.png) 0 12px no-repeat; }
  /* line 203, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .inner {
    padding: 31px 0;
    background: #22adc2; }
  /* line 207, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .title {
    font-size: 30px;
    font-weight: 300; }
  /* line 211, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact p {
    font-weight: 300;
    font-size: 20px;
    padding-bottom: 40px; }
  /* line 216, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .input-wrap {
    padding-bottom: 37px; }
    /* line 218, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .map-contact .input-wrap input {
      margin-bottom: 0; }
  /* line 222, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .input-wrap-btn {
    margin-top: 10px; }
  /* line 225, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact .descr {
    font-size: 14px;
    display: block; }

@media only screen and (max-width: 1200px) {
  /* line 231, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .phone {
    padding: 0 30px 0 3px; }
  /* line 234, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .logo {
    float: none; }
    /* line 236, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .logo a {
      margin: 0 auto; } }

@media only screen and (max-width: 1000px) {
  /* line 242, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g .menu__li a {
    font-size: 14px; }
  /* line 245, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .main-nav {
    float: none;
    text-align: center; }
  /* line 249, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .right {
    float: none; }
  /* line 252, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .phone {
    padding: 0 30px 0 140px; } }

@media only screen and (max-width: 690px) {
  /* line 257, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .head-top {
    height: 75px; }
    /* line 259, C:/OpenServer/domains/iphone.local/css/style-de.scss */
    .head-top .inner {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.98);
      z-index: 10000; }
  /* line 268, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-g {
    display: none; }
  /* line 271, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .menu-burger {
    display: block; }
  /* line 274, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .phone-btn {
    display: block; }
  /* line 277, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .right {
    display: none; } }

@media only screen and (max-width: 630px) {
  /* line 282, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .map-contact {
    width: 380px; } }

@media only screen and (max-width: 510px) {
  /* line 287, C:/OpenServer/domains/iphone.local/css/style-de.scss */
  .mape-block {
    display: none; } }

/*# sourceMappingURL=style-de.css.map */