
.dd-container{
	max-width: 1260px;
	margin: 0 auto;
}

/* Slider
============================*/
.dd-slider-wrap{
	padding-top: 82px;
	padding-bottom: 90px;
	background:#F3F3F3;
}
.dd-title_ab{
	text-align: center;
	padding-bottom: 80px;
}
#slider{
	// background:#fff;
	padding: 10px;
	border-radius:5px;
	.dd-img-box_ab{
		width: 109px;
		height: 109px;
		margin: 0 auto;
	}
	.dd-item-wrap{
		max-width: 1056px;
		margin: 0 auto;
	}
	.owl-dots{
		display: none;
		position: absolute;
		left:47%;
		transform: translate(-50);
		bottom:-74px;
		.owl-dot{
			display: inline-block;
			margin-left: 5px;
			span{
				float: left;
				display: inline-block;
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: white;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
		.active{
			span{
				border-radius:10em;
				width: 9px;
				height: 9px;
				background-color: #FF5CA3;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
			}
		}
	}
	.item{
		overflow:hidden;
	}
	.nav-left{
		background: url(../img/left1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		left:5px;
		transform: translate(-50);
	}
	.nav-right{
		background: url(../img/right1.png) no-repeat;
		width: 15px;
		height: 51px;
		position:absolute;
		top:32%;
		right:5px;
		transform: translate(-50);
	}
}
.dd-txt_ab{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		color: #22adc2;
		font-size: 18px;
		display: inline-block;
		padding-bottom: 23px;
	}
	p{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 500;
		font-style: italic;
		color: #67635b;
		font-size: 16px;
	}
}

/* footer
============================*/
.dd-footer-wrap{
	padding: 25px 0px;
	// padding: 44px 0px;
	background:#757066;
}
.dd-timeofwork{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	color: #51d6ea;
	padding-top: 10px;
}
.dd-button-1{
	font-family: "Open Sans", arial, sans-serif;
	font-weight: 500;
	text-align: center;
	display: inline-block;
	width: 161px;
	height: 35px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	background-color: #f35c9f;
	border-radius: 3px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.08);
}
.dd-foter-box{
	text-align: center;
	margin-bottom: 15px;
	display: none;
}
.dd-footer-button{
	padding: 15px 0px;
}
.dd-foter-box_1{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 14px;
		color: white;
	}
}
.dd-foter-box_2{
	span{
		color: white;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 18px;
		font-weight: 300;
	}
}
.dd-top{
	padding-top: 27px;
}
.dd-footer-phone{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 400;
		font-size: 20px;
		color:#fff;
		display: inline-block;
	}
	span:first-child{
		background:url(../img/dd-p.png) no-repeat left center;
		padding-left: 25px;
	}
	span:last-child{
		font-size: 14px;
		background:url(../img/dd-p2.png) no-repeat left center;
		padding-left: 25px;
	}
}
.dd-mobile{
	text-align: center;
	span{
		color:#fff;
		font-size: 14px;
		font-weight: 400;
		font-family: "Open Sans", arial, sans-serif;
	}
}

/* Бонусом вы получите
==========================*/
.dd-wrap_bonus{
	padding-top: 44px;
	padding-bottom: 50px;
	background:#F3F3F3;
}
.dd-box_bonus{
	max-width: 350px;
	margin: 37px auto;
}
.dd-img_bonus{
	width: 80px;
	float: left;
	text-align: center;
}
.dd-txt_bonus{
	float: left;
	text-align: left;
	width: 194px;
	p{
		font-weight: 500;
		font-family: "Open Sans", arial, sans-serif;
		font-size: 16px;
		color: #67635b;
	}
}
.dd-dekstop_h2_bonus{
	display: none;
	padding-bottom: 74px;
}

/* шапка
===============================*/
.dd-head-wrap{
	background:url(../img/mb.jpg) no-repeat top center;
	padding-top: 35px;
	// padding-top: 84px;
	// padding-bottom: 160px;
}
.dd-main_h{
	max-width: 300px;
	padding-top: 30px;
	padding-bottom: 44px;
	margin: 0 auto;
	background:rgba(#000, 0.22);
}
.dd-txt_h{
	text-align: center;
	padding-bottom: 30px;
	span{
		display: block;
		color:#fff;
		font-weight: 500;
		font-family: "Open Sans", arial, sans-serif;
	}
	span:first-child{
		font-size:24px;
	}
	span:nth-child(2){
		font-size: 54px;
	}
	span:nth-child(3){
		font-size: 24px;
	}
}
.dd-main_h{
	span{
		font-family: "Open Sans", arial, sans-serif;
		font-weight: 300;
	}
}

//select
.az-select{
	border: 2px solid #cbd1d6;
	position: relative;
	cursor: pointer;
}
select{
	height: 36px;
	width: 100%;
	border: none;
	background: transparent;
	outline: none;
	padding: 0 15px;
	letter-spacing: 0.02em;
	font-family: "OpenSans-Semibold";
	font-size: 14px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select::-ms-expand {
	display: none;
}
.az-options{
	display: none;
	top: calc(100% + 2px);
	left: -2px;
	width: calc(100% + 4px);
	position: absolute;

	background: rgba(0,0,0,0.8);
	border-radius: 2px;
	z-index: 6;
}

div[data-val]{
	font-size: 14px;
	font-family: "OpenSans-Semibold";
	color: #fff;
	padding: 0 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	cursor: pointer;
}
div[data-val]:hover{
	background: rgba(255,255,255,0.1);
}

.az-select:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 15px;
	width: 13px;
	height: 8px;
	background: url(../img/select-arrow.png) no-repeat top left;
	z-index: 1;
}
.az-select-focus:before{
	background: url(../img/select-arrow-focus.png) no-repeat top left;
}
.az-select_style{
	position: relative;
	z-index: 2;
}

@media only screen and (min-width : 320px) {
	.dd-txt_bonus{
		width: 269px;
		padding-left: 20px;
	}
}
@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dd-box_bonus{
		width: 20%;
		margin: 0 auto;
		float: left;
	}
	.dd-mob_h2_bonus{
		display: none;
	}
	.dd-dekstop_h2_bonus{
		display: block;
	}
	.dd-img_bonus{
		float: unset;
		height: 126px;
		width: unset;
	}
	.dd-txt_bonus{
		float: unset;
		width: 98%;
		text-align: center;
	}
	.dd-footer-wrap{
		padding: 44px 0px;
	}
	.dd-foter-box {
		display: block;
	}
	.dd-mobile{
		display: none;
	}

	.dd-slider-wrap{
		padding-bottom: 158px;
	}
	.dd-inline-bl{
		float: left;
	}
	.dd-txt_ab{
		max-width: 824px;
		padding-left: 47px;
		margin-top: -4px;
		// padding-top: 18px;
	}
	.dd-foter-box_1, .dd-foter-box_2{
		float: left;
	}
	.dd-foter-box_1{
		width: 228px;
		text-align: left;
		span{
			display: block;
		}
	}
	.dd-foter-box_2{
		width: 438px;
		// width: 628px;
	}
	.dd-foter-box_3{
		float: right;
		text-align: right;
	}
}

@media only screen and (min-width : 1248px) {
	.dd-foter-box_2{
		width: 628px;
	}
	.dd-txt_ab{
		max-width: 946px;
	}
	.dd-float-left{
		float: left;
	}
	.dd-footer-phone{
		padding-right: 50px;
	}
	.dd-footer-button{
		padding-top: 5px;
	}
}

