/* line 1, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #fff; }

/* line 6, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-title {
  margin-bottom: 40px;
  font-size: 35px;
  line-height: 35px; }

/* line 11, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-img {
  max-width: 100%; }

/* line 14, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item {
  height: 70px;
  margin-bottom: 20px; }

/* line 18, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-visa {
  background: url(/img/visa.png) 50% 50% no-repeat; }

/* line 21, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-mc {
  background: url(/img/master-card.png) 50% 50% no-repeat; }

/* line 24, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-yndx {
  background: url(/img/yandex-money.png) 50% 50% no-repeat; }

/* line 27, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-wbm {
  background: url(/img/webmoney.png) 50% 50% no-repeat; }

/* line 30, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-qw {
  background: url(/img/qiwi.png) 50% 50% no-repeat; }

/* line 33, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.payment-item-cash {
  background: url(/img/cash.png) 50% 50% no-repeat; }

/* line 37, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our {
  padding-top: 40px;
  padding-bottom: 45px;
  background: url(/img/our-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 35% center; }

/* line 44, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-title {
  font-size: 38px;
  margin-bottom: 40px; }

/* line 48, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item {
  position: relative;
  margin-bottom: 40px; }

/* line 52, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item__text {
  margin-left: 50px;
  width: 90%; }

/* line 56, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item__imgwrap {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px; }

/* line 62, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item__header {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px; }

/* line 70, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item__descr {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; }

/* line 77, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.our-item__span {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #ffc0dc;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase; }

/* line 85, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
.delivery {
  margin-top: -50px;
  margin-bottom: 0; }

@media only screen and (min-width: 992px) {
  /* line 99, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url(/img/our-bg.jpg) 0 0 no-repeat;
    background-size: cover;
    background-position: 55% 15px; }
  /* line 106, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our-title {
    font-size: 44px;
    margin-bottom: 60px; }
  /* line 110, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our-item {
    margin-bottom: 70px; }
  /* line 113, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .consultant, .available {
    margin-bottom: 0; }
  /* line 116, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our-item__header {
    font-size: 24px;
    margin-bottom: 10px; }
  /* line 120, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our-item__descr {
    font-size: 18px; } }

@media only screen and (min-width: 1248px) {
  /* line 126, C:/OpenServer/domains/iphone.local/css/style-dg.scss */
  .our-container {
    width: 100%;
    max-width: 1248px; } }

/*# sourceMappingURL=style-dg.css.map */